@tailwind base;
@tailwind components;
@tailwind utilities;

.my-tabs {
  @apply flex flex-wrap text-sm font-medium text-center text-stone-500 text-stone-400 space-x-2
}

.my-tabs.sm {
  @apply text-stone-400 space-x-1
}

.my-tabs li {
  @apply rounded capitalize cursor-pointer
}

.my-tabs.nav li a {
  @apply p-2 md:px-4 inline-block
}

.my-tabs.sm li {
  @apply px-3 py-1 md:px-3 rounded capitalize
}

.my-tabs li.inactive {
  @apply hover:text-stone-900 hover:bg-stone-200
}

.my-tabs li.active {
  @apply text-white bg-stone-600
}

.my-tabs.sm li.active {
  @apply text-white bg-stone-400
}

.my-card {
  @apply flex flex-col md:flex-row rounded-lg bg-stone-100 border-solid border border-stone-300
}

.my-card .my-card-header {
  @apply p-2 bg-stone-200 rounded-t-lg md:rounded-t-none md:rounded-l-lg
}

.my-card .my-card-body {
  @apply p-2
}

table {
  @apply border-separate border-spacing-0
}

th {
  @apply bg-stone-100 py-1
}

td, th {
  @apply border border-stone-400 border-l-0 px-1 md:px-2
}

td {
  @apply border-t-0
}

td:first-child {
  @apply border-l
}

th:first-child {
  @apply border-l rounded-tl-lg
}

th:last-child {
  @apply rounded-tr-lg
}

tr:last-child td:first-child {
  @apply rounded-bl-lg
}

tr:last-child td:last-child {
  @apply rounded-br-lg
}

.my-notification {
  @apply w-40 h-12 p-3 shadow bg-white border rounded-l-md absolute right-0 top-4;
}

.my-notification.animation {
  animation-name: my-notification-animation;
  animation-duration: 5s;
}

@keyframes my-notification-animation {
  0%   {@apply -right-40}
  25%  {@apply right-0}
  75%  {@apply right-0}
  100% {@apply -right-40}
}